<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="HIS_DWH"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="HIS_DWH"/>
    <stringAttribute key="TALEND_JOB_ID" value="_314AoJvhEe2q09MuE6mJmQ"/>
    <stringAttribute key="TALEND_JOB_NAME" value="JB_F_LEGAL_AFFAIRS_CONTRACL_DETAILS"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
