<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="ETL"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="ETL"/>
    <stringAttribute key="TALEND_JOB_ID" value="_GHM9MJGaEe2OTNAUtmH7Uw"/>
    <stringAttribute key="TALEND_JOB_NAME" value="JobTimeDim"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
