<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="Live_Data_Sync"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="LIVE_DATA_SYNC"/>
    <stringAttribute key="TALEND_JOB_ID" value="_L8Nh8JbuEe2XXN7EF0dz3g"/>
    <stringAttribute key="TALEND_JOB_NAME" value="Legal_Affairs_Contract_Sync"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
